.features_component {
  margin-top: 50px;
  padding: 0px 10%;
}
.features_header {
  font-size: 20px;
  text-align: center;
  color: hsl(229, 31%, 21%);
}
.features_txtcontent {
  color: hsl(229, 8%, 60%);
  text-align: center;
}
.features_text {
  width: 500px;
  margin: 0 auto;
}
.features_attributes {
  text-align: center;
  margin-top: 40px;
}
.simple {
  padding: 20px 50px;
  border-bottom: 4px solid hsl(0, 94%, 66%);
}
.speed {
  padding: 20px 50px;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  color: hsl(229, 8%, 60%);
}
.easy {
  padding: 20px 50px;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  color: hsl(229, 8%, 60%);
}
.features_lala {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.features_lala2 {
  width: 400px;
  padding-right: 100px;
}
.more_info {
  padding: 10px 20px;
  color: white;
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
}
.features_organize {
  color: hsl(229, 8%, 60%);
  font-weight: 400;
}
