.features_component {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features_component p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  color: hsl(229, 8%, 60%);
  max-width: 450px;
  text-align: center;
}
.features_component h2 {
  font-size: 1.8rem;
  text-align: center;
  color: hsl(229, 31%, 21%);
  margin-bottom: 10px;
}
