* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.nav_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 75%;
}
.nav_links li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.nav_links li a:hover {
  border: 2px solid hsl(0, 94%, 66%);
  border-radius: 5px;
  color: hsl(0, 94%, 66%);
  background-color: #fff;
}

.login_btn {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid hsl(0, 94%, 66%);
  padding: 10px 20px;
  margin: 0 10px;
}

.mobile_menu {
  display: none;
}
@media screen and (max-width: 600px) {
  .log {
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .nav_links {
    display: none;
  }
  .nav_links_mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: hsl(229, 8%, 60%);
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .nav_links_mobile li a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid hsl(229, 31%, 21%);
    text-align: center;
    padding: 32px;
    width: 100vw;
  }
  .nav_links_mobile li a:hover {
    color: hsl(0, 94%, 66%);
  }
  .nav_links_mobile li {
    text-align: center;
    padding: 32px;
    width: 100%;
  }
  .login_btn {
    text-align: center;
    width: 100%;
    margin-right: 200px;
  }
  .mobile_menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .Close {
    color: hsl(229, 31%, 21%);
    font-size: 30px;
    height: 60px;
    cursor: pointer;
    width: 60px;
    font-weight: 800;
    display: block;
    position: absolute;
    top: -18px;
    right: 10px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .Close:hover {
    color: hsl(231, 69%, 60%);
  }
}
